# This file describes a conda environment that can be to install the JWST
#   validation notebooks
#
# Run the following command to set up this environment:
# $ conda env create -f environment.yml
#
# The environment name can be overridden with the following command:
# $ conda env create -n <custom name> -f environment.yml
#
# Run the following command to activate the environment:
# $ conda activate jwst_validation_notebooks
#
# To deactivate the environment run the following command:
# $ conda deactivate
#
# To remove the environment entirely, run the following command:
# $ conda remove -n jwst_validation_notebooks --all

name: jwst_validation_notebooks

channels:
  - conda-forge
  - astropy
  - http://ssb.stsci.edu/astroconda

dependencies:
  # Base dependencies
  - pip
  - python>=3.7,<3.9
  - Cython
  - jupyter
  - nb_conda

  - pip:
    - asdf>=2.7.1
    - astropy>=4.1
    - crds>=10.3.1
    - drizzle>=1.13.1
    - gwcs>=0.16.1
    - jsonschema>=3.0.2
    - numpy>=1.16
    - photutils>=0.7
    - psutil>=5.7.2
    - poppy>=0.9.0
    - pyparsing>=2.2
    - requests>=2.22
    - scipy>=1.1.0
    - spherical-geometry>=1.2.18
    - stdatamodels~=0.1.0
    - stsci.image>=2.3.3
    - tweakwcs>=0.7.0
    - matplotlib
    - jupyter
    - ci-watson
    - junit-xml
    - nbformat
    - jinja2
    - ipython
    - ipykernel
    - pytest
    - pytest-xdist
    - pytest-html
    # These repositories have no tags or releases yet, so none are chosen.
    - git+https://github.com/STScI-MIRI/miricoord
    - git+https://github.com/STScI-MIRI/miri3d
    - git+https://github.com/york-stsci/nbpages
    # This repository has tags, but selecting them doesn't seem to work.
    - git+https://github.com/spacetelescope/pysiaf
    - git+https://github.com/spacetelescope/stsci.imagestats@1.6.2
    - git+https://github.com/spacetelescope/nirspec_pipe_testing_tool@1.1.10
    - git+https://github.com/spacetelescope/jwst@1.0.0

variables:
  TEST_BIGDATA: "https://bytesalad.stsci.edu/artifactory"
  CRDS_SERVER_URL: "https://jwst-crds.stsci.edu"
#  CRDS_PATH: "crds_cache"
  CRDS_PATH: "/grp/crds/cache"
  WIT4_PATH: "/grp/jwst/wit4"

