numpy
astropy
matplotlib
jupyter
jupyter_contrib_nbextensions
ci-watson
junit-xml
git+https://github.com/spacetelescope/stsci.imagestats@1.6.2
git+https://github.com/mfixstsci/nbpages@add-path-arg
git+https://github.com/spacetelescope/jwst@stable
