# GitHub Actions workflow for testing and continuous integration.
#
# This file performs testing using tox and tox.ini to define and configure the test environments.

name: CI

on:
  push:
  pull_request:

jobs:
  # Github Actions supports ubuntu, windows, and macos virtual environments:
  # https://help.github.com/en/actions/reference/virtual-environments-for-github-hosted-runners
  ci_tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:

          - name: Python 3.6
            os: ubuntu-latest
            python: 3.6

          - name: Python 3.7
            os: ubuntu-latest
            python: 3.7

          - name: Python 3.8
            os: ubuntu-latest
            python: 3.8

          - name: OS X - Python 3.8
            os: macos-latest
            python: 3.8

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up environment
      uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: jwst_validation_notebooks
        environment-file: environment.yml
        python-version: ${{ matrix.python }}
        auto-activate-base: false
    - name: Test with nbpages
      shell: bash -l {0}
      run: |
        python -m "nbpages.check_nbs"
